<div class="sentiment">
    <h4>Tu sentimiento es ...</h4>
    <p>😡🙁😐😃😍</p>

    <div class="marker">
        <div style="left: @Percentage%;">
            <div>▲</div>
            <label>@Percentage.ToString("0.0")%</label>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public float Percentage { get; set; }
}
